<br>
<% @blogs.each do |blog| %>
  <h3><%= blog.title %></h3>
  <div class="date"><%= blog.date.strftime("%A, %B %e, %Y") %></div><br>
  <div class="text"><%= simple_format(blog.content) %></div><br>
  <hr>
<% end %>
</ul>

<script>

  $(document).ready(function() {

    $('.content-area').css('display', 'none');

    $('.content-area').fadeIn(500);


    $('.thing').click(function(event) {

      event.preventDefault();

      newLocation = this.href;

      $('.content-area').fadeOut(500, newpage);

    });

    function newpage() {
      window.location = newLocation;
    }
  });

</script>
