<h3><%= @blog.title %></h3>
<i><%= @blog.date.strftime("%A, %B %e, %Y") %></i><br><br>
<%= simple_format(@blog.content) %>
<%= link_to "Edit #{@blog.title}", blogs_edit_path(@blog), class:"s btn btn-default" %>

<script>

  $(document).ready(function() {

    $('.content-area').css('display', 'none');

    $('.content-area').fadeIn(500);


    $('.thing').click(function(event) {

      event.preventDefault();

      newLocation = this.href;

      $('.content-area').fadeOut(500, newpage);

    });

    function newpage() {
      window.location = newLocation;
    }
  });

</script>
