<div class="home row">
  <div class="portfolio-pic">
    <%=image_tag("holly.jpg", height: '360em;', alt:"Profile Pic")%>
  </div>
  <div class="portfolio-title ">
    <div class="holly">Holly Leary</div>
    <div class="sub-title">Software Development Engineer</div>
  </div>
</div>
