<!-- projects -->
<!-- <div class="projects">
  <ul>
    <li><a class="project-items" href="http://wat-do-seattle.com/" target="_blank">Wat Do</a></li>
    <li><a class="project-items" href="https://feeed-meee.herokuapp.com/" target="_blank">Feed Me</a></li>
    <li><a class="project-items" href="https://gardenrow.herokuapp.com/" target="_blank">Ada's Garden</a></li>
    <li><a class="project-items" href="http://betsy-rails.herokuapp.com/" target="_blank">Scraps</a></li>
    <li><a class="project-items" href="https://muzikbox.herokuapp.com/" target="_blank">Muzik Box</a></li>
    <! <li><a href="pic">The Trippy Caterpillar</a></li> add this so you can play? -->
  <!-- </ul>
</div>  -->

<ul>
  <% @projects.each do |project| %>
    <%= link_to project.title, projects_show_path(project) %>
    yo
  <% end %>
</ul>

<div class="navcontainer">
	<nav class="mainnav">
		<div class="navoverlay"></div>
		<ul>
			<li>
				<a href="#">
					<h1>Wat Do?</h1>
					<div>alt txt</div>
				</a>
			</li>
      <li>
			</li>
      <li>
			</li>
			<li>
				<a href="#">
					<h1>Feed Me</h1>
					<div>alt txt</div>
				</a>
			</li>
      <li>
			</li>
      <li>
			</li>
			<li>
				<a href="#">
					<h1>Ada's Garden</h1>
					<div>alt txt</div>
				</a>
			</li>
			<li>
				<a href="https://muzikbox.herokuapp.com/" target="_blank">
					<h1>Scraps</h1>
					<div>alt txt</div>
				</a>
			</li>
      <li>
			</li>
			<li>
				<a href="https://muzikbox.herokuapp.com/" target="_blank">
					<h1>Muzik Box</h1>
					<div>alt txt</div>
				</a>
			</li>
		</ul>
	</nav>
</div>
