/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require rails_bootstrap_forms
 */
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#win-height{
  min-height: 750px;
}

a {
  text-decoration: none !important;
  display: inline;
  text-align: center;
  color:#404040  !important;
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.5px;
}

a:hover {
  text-decoration: none;
  display: inline;
  text-align: center;
  color: black;
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.5px;
}

ul, menu, dir {
  -webkit-padding-start: 0px;
}

nav {
  text-transform: uppercase;
  margin: 3.5%;
  text-align: center;
}

nav a:link {
  // border-bottom: 1px solid #606060;
  margin: 4.5%;
  padding-bottom: 13px;
  text-decoration: none;
  color: #606060  !important;
}

/* mouse over link */
nav a:hover {
  border-bottom: 1px solid #FF6600;
  margin: 4.5%;
  padding-bottom: 13px;
  text-decoration: none;
  color: black !important;
}

.home{
  margin: 2%;
  margin-top: 7%;
  margin-bottom: 5%;
  vertical-align: bottom;
}

.portfolio-pic{
  display: inline-block;
  margin: 2%;
  box-shadow: 5px 5px 20px #D0D0D0;
}

.portfolio-title{
  display: inline-block;
  margin: 2%;
}

.holly{
  color: #FF6600;
  font-size: 32px;
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-bottom: 1px solid #606060;
  padding-bottom: 12px;
  letter-spacing: 4px;
}

.sub-title{
  color: #606060;
  font-size: 20px;
  // text-transform: uppercase;
  padding-top: 12px;
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 4px;
}

sidebar{
  text-align: right;
  margin: 200px !important;
}

sidebar li {
  text-decoration: none;
  margin: 2%;
  list-style: none;
}

sidebar li:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #FF6600;
  text-decoration: none;
  color:#606060;
}

footer li {
  text-decoration: none;
  display: inline;
  text-align: center;
  margin: 2%;
}

footer {
  text-align: center;
}

footer a:link{
  text-align: center;
  text-decoration: none;
  color:#606060;
}

footer a:hover{
  text-align: center;
  text-decoration: none;
  color:#606060;
}

footer a:visited{
  text-align: center;
  text-decoration: none;
  color:#606060;
}

.projects {
  text-align: center;
}
