/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#win-height{
  min-height: 750px;
}

sidebar{
  
}

a {
  text-decoration: none;
  display: inline;
  text-align: center;
  color:#606060;
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3px;
}

/* mouse over link */
nav a:hover {
  margin-bottom: 40%;
  border-bottom: 1px solid #FF6600;
}

li {
  text-decoration: none;
  display: inline;
  text-align: center;
  margin: 2%;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}

.projects {
  text-align: center;
}
