<!-- <iframe src="/pdf#zoom=120" style="width:82%; height:1020px;" frameborder="0"></iframe> -->

<div class="resume-title">
  Holly Leary
</div>
<div class="small-r">
  Software Development Engineer
</div>

<h3>Experience</h3>
<hr/>

<h4><a href="http://www.apexlearning.com/", target="_blank">Apex Learning</a> (Seattle, WA)</h4>
<em><strong>Software Engineer Intern</em></strong> // 2015 - present<br/>

<li>Ramped quickly across a large and complex full-stack client-facing platform utilizing Node.js and Hapi, a C# .NET service, and SQL database.</li>
<li>Contributed to continuous integration by refactoring and optimizing automated Java Twist tests.</li>
<li>Designed and developed a JavaScript and JSON keyword table for the company's API, improving the customer experience and reducing calls to support.</li>
<li>Influenced better pair-programming practices and advocated for more frequent use of test-driven development.</li>
<br>

<h4><a href="http://adadevelopersacademy.org/", target="_blank">Ada Developers Academy</a> (Seattle, WA)</h4>
<em><strong>Student Software Developer</strong></em> // 2014 - present<br/>

<li>Designed and developed <em>Wat Do?</em>, an activity-based social network that suggests activities based on user data and allows users to organize and schedule events.</li>
<li>Took initiative in developing <em><a href="https://ada-internships.herokuapp.com/", target="_blank">Ada Internships</a></em>, an app that allows Ada students to compare and update information on internship companies.</li>
<li>Selected to present <em><a href="https://feeed-meee.herokuapp.com/", target="_blank">Feed Me</a></em>, a group project app featuring the use of OAuth and multiple APIs, on which I was team lead, at the 2014 Ada holiday event.</li>

</br>

<h3>Skills & Technologies</h3>
<hr/>

<li><strong>Languages:</strong> C#, Java, Python, Ruby, HTML, LaTeX, CSS, Markdown, SQL, JSON</li>
<li><strong>Libraries & Frameworks:</strong> Rails, Sinatra, .NET, JavaScript, jQuery, AJAX, Bootstrap, RSpec, Oauth, Heroku, AWS (EC2 & S3), MOQ, NUnit, Mocha, NHibernate, ActiveRecord</li>
<li><strong>Tools:</strong> Git, GitHub, Subversion, Eclipse, Webstorm, Microsoft Visual Studio</li>

</br>

<h3>Education & Honors</h3>
<hr/>

<h4>Seattle Central Community College (Seattle, WA)</h4>
<em><strong>Personal/Professional Development (Non-Degree)</strong></em> // 2012 - 2014<br/>
Cumulative GPA: 3.67 / 4.0<br/>
<em>Dean's List</em><br/><br>

<li><strong>Algorithms & Data Structures (Java):</strong> Wrote a program mapping the shortest distances between US cities via major airports using a graph data structure.</li>
<li><strong>Computer Programming I (Java):</strong> Programmed the <em>Psychedelic Caterpillar</em>, an elaborate take on the classic <em>Snake</em> game.</li>
<li><strong>Intro to Computer Programming (Python)</strong></li>
<li><strong>Differential Calculus I & II</strong></li>
<li><strong>Computers in Math (Mathematica)</strong></li><br>


<h4>State University of New York at Cortland (Cortland, NY)</h4>
<em><strong>Bachelor of Science; Dual Major: Early Childhood &amp; Childhood Education</strong></em> // 2006 - 2010 <br/>
Cumulative GPA: 3.91 / 4.0 <br/>
<em>Dean's List, High Honors, &amp; President's List</em>
<li>Developed lesson plans for, and aided host teacher in learning to use SMARTBoard technology during student teaching.</li>
<li>Designed and constructed several websites including complete mock elementary school site.</li>
<li>Created online web quest lesson on the subject of nutrition.</li>
</br>

<h3>References</h3>
<hr/>

<p>Available upon request.</p>
<br>
<br>

<script>

  $(document).ready(function() {

    $('.content-area').css('display', 'none');

    $('.content-area').fadeIn(500);


    $('.thing').click(function(event) {

      event.preventDefault();

      newLocation = this.href;

      $('.content-area').fadeOut(500, newpage);

    });

    function newpage() {
      window.location = newLocation;
    }
  });

</script>
