<p></br> </p>

<center><h1><strong>H O L L Y &nbsp; M. &nbsp;L E A R Y</strong></h1></center>
<p><center>507 W. Mercer st., Seattle, WA 98119 | schleary@gmail.com | 607.232.9210</center> <br/>
<center><a href="schleary@gmail.com">Email</a> | <a href="https://github.com/schleary">GitHub</a> | <a href="https://github.com/schleary">LinkedIn</a></center>
</br></br></br></br></p>

<h3>E X P E R I E N C E</h3>
<hr/>

<strong>Apex Learning</strong> <em>(Seattle, WA)</em><br/>
<strong><em>Associate Software Engineer Intern</em></strong> // <em>2015 - present</em><br/>
<ul>
<li>Working with a Node.js API & interfacing with a .NET service that talks to SQL server database.</li>
<li>Created a front-end key table for users, making the API much more accessible to clients.</li>
</ul>

<strong>Ada Developers Academy</strong> <em>(Seattle, WA)</em><br/>
<strong><em>Student Software Developer</em></strong> // <em>2015 - present</em><br/>
<ul>
<li>Worked in agile development teams, utilizing pair programming, scrum, and test-driven development</li>
<li>Full-stack development: Ruby on Rails, JavaScript, HTML/CSS, PostgreSQL</li>
<li>Selected to present 'Feed Me', a group app project featuring the use of OAuth and multiple APIs, on which I was team lead.</li>
<li>Took initiative in developing a dynamic website tool that allows Ada students to compare and update information on internship companies.</li>
</ul>
</br>

<strong>Seattle Central Community College</strong> <em>(Seattle, WA)</em><br/>
<strong><em>Personal/Professional Development<em></strong> // Cumulative GPA: 3.67 / 4.0</em> <br/>
<ul>
<li>Dean's List</li>
<li>Programming:  Intro, I &amp; II (Python and Java)</li>
<li>Differential Calculus &amp; Computers in Math (Mathematica)</li>
</ul>

<h3>S K I L L S &nbsp; &amp; &nbsp;  T E C H N O L O G I E S</h3>
<hr/>
<ul>
<li><strong>Programming Languages:</strong> Java, Python, Ruby, C#</li>
<li><strong>Markup Languages:</strong>  HTML, LaTeX, CSS, Markdown</li>
<li><strong>Libraries:</strong>  JavaScript, jQuery, AJAX, RSpec, Bootstrap</li>
<li><strong>Technologies/Software/Protocols:</strong> Rails, Sinatra, ActiveRecord, PostgreSQL, Heroku, JSON, Oauth, bash</li>
</ul>
</br>

<h3>E D U C A T I O N &nbsp;  &amp; &nbsp;  H O N O R S</h3>
<hr/>
<strong>Bachelor of Science; Dual Major: Early Childhood &amp; Childhood Education  //  2006 - 2010</strong> <br/>
<strong>State University of New York at Cortland //</strong>  <em>Cumulative GPA: 3.91 / 4.0</em> <br/>
<ul>
<li>Dean's List, High Honors, &amp; President's List</li>
<li>Developed lesson plans for, and aided host teacher in learning to use SMARTBoard technology during student teaching.</li>
<li>Designed and constructed several websites including complete mock elementary school site.</li>
<li>Created online web quest lesson on the subject of nutrition.</li>
</ul>
</br>

<h3>W O R K  &nbsp; E X P E R I E N C E</h3>
<hr />
<strong>Nanny</strong> (Seattle, WA) <br/>
<strong><em>Mulholland/Wageman &amp; Erlanger/Coopersmith Families</em></strong>  // <em>2011 - 2013</em> </br>

<ul>
<li>Enabled 8-year-old girl with Non-Verbal Learning Disorder (NVLD) to make difficult transition to new schedule, new school, and new nanny.</li>
<li>Following excellent care of infant, given 50% raise and additional hours, with eldest child taken out of preschool and placed under my care.</li>
</ul></br>
<strong>Bartender/Waitress/Cook</strong> (Binghamton, NY) <br/>
<strong><em>Riverwalk Bistro</em></strong> // <em>2006 - 2011</em> </br>

<ul>
<li>Trained new manager and all successive bartenders on Aloha software, re-organized entire bar, and created original drink menu in the wake of new ownership and hotel-wide reconstruction.</li>
<li>Adapted to a variety of jobs; bartended and served in banquets as well as lounge and restaurant, worked coat check, and delivered room service.</li>
</ul>
</br>
