<!-- <iframe src="/pdf#zoom=120" style="width:82%; height:1020px;" frameborder="0"></iframe> -->

<div class="resume-title">
  Holly Leary
</div>
<div class="small-r">
  Software Development Engineer
</div>


<h3>Experience</h3>
<hr/>

<strong><a href="http://www.apexlearning.com/">Apex Learning</a></strong> (Seattle, WA)<br/>
<em><strong>Software Engineer Intern</em></strong> // 2015 - present<br/>
<ul>
<li> Ramped quickly across a large and complex full-stack client-facing platform utilizing Node.js and Hapi, a C# .NET service, and SQL database.</li>
<li>Contributed to continuous integration by refactoring and optimizing automated Java Twist tests.</li>
<li>Designed and developed a JavaScript and JSON keyword table for the company's API, improving the customer experience and reducing calls to support.</li>
<li>Influenced better pair-programming practices and advocated for more frequent use of test-driven development.</li>
</ul>

<strong><a href="http://adadevelopersacademy.org/">Ada Developers Academy</a></strong> (Seattle, WA)<br/>
<em><strong>Student Software Developer</strong></em> // 2014 - present<br/>
<ul>
<li>Designed and developed <em>Wat Do?</em>, an activity-based social network that suggests activities based on user data and allows users to organize and schedule events.</li>
<li>Took initiative in developing <em>Ada Internships</em>, an app that allows Ada students to compare and update information on internship companies.</li>
<li>Selected to present <em>Feed Me</em>, a group project app featuring the use of OAuth and multiple APIs, on which I was team lead, at the 2014 Ada holiday event.</li>
</ul>
</br>

<h3>Skills & Technologies</h3>
<hr/>
<ul>
<li><strong>Languages:</strong> C#, Java, Python, Ruby, HTML, LaTeX, CSS, Markdown, SQL, JSON</li>
<li><strong>Libraries & Frameworks:</strong> Rails, Sinatra, .NET, JavaScript, jQuery, AJAX, Bootstrap, RSpec, Oauth, Heroku, AWS (EC2 & S3), MOQ, NUnit, Mocha, NHibernate, ActiveRecord</li>
<li><strong>Tools:</strong> Git, GitHub, Subversion, Eclipse, Webstorm, Microsoft Visual Studio</li>
</ul>
</br>

<h3>Education & Honors</h3>
<hr/>

<strong>Seattle Central Community College</strong> (Seattle, WA)<br/>
<em><strong>Personal/Professional Development (Non-Degree)</strong></em> // 2012 - 2014<br/>
Cumulative GPA: 3.67 / 4.0<br/>
<em>Dean's List</em><br/>
<ul>
<li><strong>Algorithms & Data Structures (Java):</strong> Wrote a program mapping the shortest distances between US cities via major airports using a graph data structure.</li>
<li><strong>Computer Programming I (Java):</strong> Programmed the <em>Psychedelic Caterpillar</em>, an elaborate take on the classic <em>Snake</em> game.</li>
<li><strong>Intro to Computer Programming (Python)</strong></li>
<li><strong>Differential Calculus I & II</strong></li>
<li><strong>Computers in Math (Mathematica)</strong></li>
</ul>

<strong>State University of New York at Cortland </strong> (Cortland, NY)<br/>
<em><strong>Bachelor of Science; Dual Major: Early Childhood &amp; Childhood Education</strong></em> // 2006 - 2010 <br/>
Cumulative GPA: 3.91 / 4.0 <br/>
<em>Dean's List, High Honors, &amp; President's List</em><br/>
<ul>
<li>Developed lesson plans for, and aided host teacher in learning to use SMARTBoard technology during student teaching.</li>
<li>Designed and constructed several websites including complete mock elementary school site.</li>
<li>Created online web quest lesson on the subject of nutrition.</li>
</ul>
</br>

<h3>Work Experience</h3>
<hr />
<strong>Mulholland/Wageman &amp; Erlanger/Coopersmith Families</em></strong> (Seattle, WA)<br/>
<em><strong>Nanny </strong></em> // 2011 - 2013<br/>
<ul>
<li>Enabled 8-year-old girl with Non-Verbal Learning Disorder (NVLD) to make difficult transition to new schedule, new school, and new nanny.</li>
<li>Following excellent care of infant, given 50% raise and additional hours, with eldest child taken out of preschool and placed under my care.</li>
</ul></br>

<strong>Bartender/Waitress/Cook</strong> (Binghamton, NY) <br/>
<strong><em>Riverwalk Bistro</strong></em> // 2006 - 2011 <br/>
<ul>
<li>Trained new manager and all successive bartenders on Aloha software, re-organized entire bar, and created original drink menu in the wake of new ownership and hotel-wide reconstruction.</li>
<li>Adapted to a variety of jobs; bartended and served in banquets as well as lounge and restaurant, worked coat check, and delivered room service.</li>
</ul>
</br>

<h3>References</h3>
<hr/>

<p>Available upon request.</p>

<script>

  $(document).ready(function() {

    $('.content-area').css('display', 'none');

    $('.content-area').fadeIn(500);


    $('.thing').click(function(event) {

      event.preventDefault();

      newLocation = this.href;

      $('.content-area').fadeOut(500, newpage);

    });

    function newpage() {
      window.location = newLocation;
    }
  });

</script>
