<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <%= csrf_meta_tags %> -->
</head>
<body>

<%= yield %>

  <a href="https://github.com/schleary">GitHub</a>
  <a href="https://www.linkedin.com/profile/view?id=233832133&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
  <a href="https://twitter.com/schleary">Twitter</a>
  <a href="http://adadevelopersacademy.org/">Ada</a>

</body>
</html>
