<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <link rel="stylesheet" href="/application.css" type =text/css />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li class="nav"><a href="">Home</a></li>
      <li class="nav"><a href="">Projects</a></li>
      <li class="nav"><a href="">Resume</a></li>
      <li class="nav"><a href="">Blog</a></li>
      <li class="nav"><a href="">Holly</a></li>
    </ul>
  </nav>

  <!-- projects -->
  <div class="projects">
    <ul>
      <li><a href="http://wat-do-seattle.com/" target="_blank">Wat Do</a></li>
      <li><a href="https://feeed-meee.herokuapp.com/" target="_blank">Feed Me</a></li>
      <li><a href="https://gardenrow.herokuapp.com/" target="_blank">Ada's Garden</a></li>
      <li><a href="http://betsy-rails.herokuapp.com/" target="_blank">Scraps</a></li>
      <li><a href="https://muzikbox.herokuapp.com/" target="_blank">Muzik Box</a></li>
      <!-- <li><a href="pic">The Trippy Caterpillar</a></li> add this so you can play? -->
    </ul>
  </div>

<%= yield %>
<footer>
  <ul>
    <li><a href="https://github.com/schleary" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/profile/view?id=233832133&trk=nav_responsive_tab_profile_pic" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/schleary" target="_blank">Twitter</a></li>
    <li><a href="http://adadevelopersacademy.org/" target="_blank">Ada</a></li>
  </ul>
</footer>

</body>
</html>
